.parallax-image {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}
.parallax-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.2s ease-out;
}
.parallax-image:hover img {
	transform: scale(1.2);
}
  
.scrolling-wrapper {
	overflow-x: scroll;
	display: flex;
  }
  
  .card {
	flex: 0 0 auto;
	margin-right: 1rem;
  }

 

  
  
.navbar-nav li a {
    font-weight: bold;
}

  
  

  .carousel-caption {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 15px;
	background: rgba(0, 0, 0, 0.145);
	color: #fff;
	text-align: center;
	text-shadow: 2px 2px 4px #000;
	  
  }
  
  
  .col-md-4 {
	padding: 10px;
  }

  
  
  
  .home-text {
		font-family: Georgia, 'Times New Roman', Times, serif
		font-weight: bold;
		letter-spacing: 0.1em;
		line-height: 1.2;
	  
  }
  .font-text {
	font-family: Georgia, 'Times New Roman', Times, serif
		font-size: 3rem;
		font-weight: bold;
		letter-spacing: 0.1em;
		line-height: 1.2;}	
  * {
	font-family:Georgia, 'Times New Roman', Times, serif
	  }

	  .carousel-control-prev-icon,
  .carousel-control-next-icon {
	background-color: black;
  }
  

  /* parallax image */
  
  /* *	{
	position: relative;
	z-index: 1;
  } */
  /* section {
	position: relative;
	z-index: 1;
  }
  footer {
	position: relative;
	z-index: 2;
	  } */

  

	  /* colors  */

	  
	/*.................................... default colors................................................ */
	/* .bg-light-yellow {
		background-color: #f1f0f0; 
	  }
	  .navbar-dark .navbar-nav .nav-link {
		color: #ffffff;
	  }
	  .navbar-dark .navbar-nav .nav-link:hover {
		color: #00ff3c;
	}
	.link {
		color: #1A5F7A;
	  }
  .byline {
		color: #ffffff;
		font-weight: bold;
  }
  
  .bg-pastel-yellow {
	background-color: #100f0f; 
  }
  .bg-yellowtext{
	color: #ffffff; 
  }
  .icon {
	color: #ffffff;
  }
  .footer-end {
	color: #ffffff;
  } */



/* ...........................................dark mode.................................................................. */


  /* .py-5 {
	background-color: #131313;
  }
  .bg-pastel-yellow {
	background-color: #100f0f;
}
.bg-yellowtext{
	color: #ffffff; 
}
.byline {
	color: #ffffff;
	font-weight: bold;
}
.link {
	color: #1A5F7A;
  }

  .lead {
	color: #ffffff;
  }
  .bg-light-yellow {
	background-color: #0a0b0b;
  }
  .navbar-dark .navbar-nav .nav-link {
	color: #ffffff;
  }
  .navbar-dark .navbar-nav .nav-link:hover {
	color: #00ff3c;
  }
  .navbar-nav li a {
	font-weight: bold;
  }
  .icon {
	color: #ffffff;
  }
  .heading {
	color: #ffffff;
  }
  .list-group-item {
	background-color: #131313;
  } 
  .footer-end {
	color: #ffffff;
  } */

/*........................................... white mode.......................................................... */


  /* .py-5 {
	background-color: #ffffff;
  }
  .bg-pastel-yellow {
	background-color: #f1f0f0;
}
.bg-yellowtext{
	color: #000000; 
}
.byline {
	color: #000000;
	font-weight: bold;
}
.link{
	color: #000;
}
.lead{
	color: #000000;
}
.bg-light-yellow{
	background-color: #f1f0f0;
}
.navbar-dark .navbar-nav .nav-link {
	color: #000000;
  }
  .navbar-dark .navbar-nav .nav-link:hover {
	color: #00ff3c;
  }
  .navbar-nav li a {
	font-weight: bold;
  }
  .icon {
	color: #000000;
  }
  .heading {
	color: #000000;
  } 	
  .list-group-item{
	background-color:#ffffff
} 
.footer-end {
	color: #000000;
  }*/


/* ...............................soothing pastel color................................................... */


	  /* .py-5 {
		background-color: #f1f0f0;
	  }
	  .bg-pastel-yellow {
		background-color: #f1f0f0;
	  }
	  .bg-yellowtext{
		color: #000000; 
	  }
	  .byline {
		color: #000000;
		font-weight: bold;
	  }
	  .link{
		color: #000;
	  }
	  .lead{
		color: #000000;
	  }
	  .bg-light-yellow{
		background-color: #f1f0f0;
	  }
	  .navbar-dark .navbar-nav .nav-link {
		color: #000000;
	  }
	  .navbar-dark .navbar-nav .nav-link:hover {
		color: #00ff3c;
	  }
	  .navbar-nav li a {
		font-weight: bold;
	  }
	  .icon {
		color: #000000;
	  }
	  .heading {
		color: #000000;
	  }
	  .list-group-item{
		background-color:#ffffff
	  }
	  .footer-end {
		color: #000000;
	  } */


/* ............................trial .................................................*/


/* .py-5 {
	background-color: #f5e5d1;
}

.bg-pastel-yellow {
	background-color: #ffdac6;
}

.bg-yellowtext {
	color: #6d4c41;
}

.byline {
	color: #6d4c41;
	font-weight: bold;
}

.link {
	color: #6d4c41;
}

.lead {
	color: #6d4c41;
}

.bg-light-yellow {
	background-color: #f5e5d1;
}

.navbar-dark .navbar-nav .nav-link {
	color: #6d4c41;
}

.navbar-dark .navbar-nav .nav-link:hover {
	color: #ffb347;
}

.navbar-nav li a {
	font-weight: bold;
}

.icon {
	color: #6d4c41;
}

.heading {
	color: #6d4c41;
}

.list-group-item {
	background-color: #fff9ec;
}

.footer-end {
	color: #6d4c41;
} */


/* ......................................................gray theme .......................................................*/

/* .py-5 {
	background-color: #f7f7f7;
  }
  .bg-pastel-yellow {
	background-color: #f7f7f7;
  }
  .bg-yellowtext{
	color: #454545; 
  }
  .byline {
	color: #454545;
	font-weight: bold;
  }
  .link{
	color: #5c5c5c;
  }
  .lead{
	color: #454545;
  }
  .bg-light-yellow{
	background-color: #f7f7f7;
  }
  .navbar-dark .navbar-nav .nav-link {
	color: #454545;
  }
  .navbar-dark .navbar-nav .nav-link:hover {
	color: #007bff;
  }
  .navbar-nav li a {
	font-weight: bold;
  }
  .icon {
	color: #454545;
  }
  .heading {
	color: #454545;
  }
  .list-group-item{
	background-color:#ffffff
  }
  .footer-end {
	color: #454545;
  } */
  
  /* ...................................................more gray...................................................... */
  
  /* .py-5 {
    background-color: #f2f2f2;
}
.bg-pastel-yellow {
    background-color: #f2f2f2;
}
.bg-yellowtext {
    color: #444444;
}
.byline {
    color: #333333;
    font-weight: bold;
}
.link {
    color: #555555;
}
.lead {
    color: #333333;
}
.bg-light-yellow {
    background-color: #f2f2f2;
}
.navbar-dark .navbar-nav .nav-link {
    color: #333333;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: #777777;
}
.navbar-nav li a {
    font-weight: bold;
}
.icon {
    color: #333333;
}
.heading {
    color: #333333;
}
.list-group-item {
    background-color: #e6e6e6;
}
.footer-end {
    color: #444444;
} */

/* .....................................pink....................................................active*/
/* .py-5 {
    background-color: #ffffff;
}
.bg-pastel-yellow {
    background-color: #f5f0f5;
}
.bg-yellowtext {
    color: #ff0066;
}
.byline {
    color: #ff0066;
    font-weight: bold;
}
.link {
    color: #ff0066;
}
.lead {
    color: #000000;
}
.bg-light-yellow {
    background-color: #f5f0f0;
}
.navbar-dark .navbar-nav .nav-link  {
    color: #ff0066;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: #00ff3c;
}
.navbar-nav li a {
    font-weight: bold;
}
.icon {
    color: #ff0066;
}
.heading {
    color: #ff0066;
}
.list-group-item {
    background-color: #ffffff;
}
.footer-end {
    color: #ff0066;
} */

/* ...................yellow black............................................ */
.py-5 {
	background-color: #fafae0;
}
.bg-pastel-yellow {
    background-color: #ffd601; 
}
.bg-yellowtext {
    color: #000000; 
}
.byline {
    color: #000000; 
    font-weight: bold;
}
.link {
    color: #ffd601; 
}
.lead {
    color: #000000; 
}
.bg-light-yellow {
    background-color: #ffd601; 
}
.navbar-dark .navbar-nav .nav-link  {
    color: #000000; 
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: #ffd601; 
}
.icon {
    color: #000000; 
}
.heading {
    color: #000000; 
}
.list-group-item {
    background-color: #353535; 
    color: #ffd601; 
}
.footer-end {
    color: #000000; 
}




  
