.parallax-image {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}
.parallax-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.2s ease-out;
}
.parallax-image:hover img {
	transform: scale(1.2);
}
  
.scrolling-wrapper {
	overflow-x: scroll;
	display: flex;
  }
  
  .card {
	flex: 0 0 auto;
	margin-right: 1rem;
  }

  .bg-pastel-yellow {
	background-color: #615b5b; /* pastel yellow color */
  }

  .bg-yellowtext{
	color: #faeca5; /* pastel yellow color */
  }
  
  .bg-light-yellow {
	background-color: #f1f0f0; /* light yellow color */
  }

  .carousel-caption {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 15px;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	text-align: center;
	text-shadow: 2px 2px 4px #000;
	  
  }
  
  
  .col-md-4 {
	padding: 10px;
  }

  .icon {
	color: rgb(181, 181, 40);
  }
  .link {
	color: #657d04;
  }
  
  .home-text {
		font-family: 'Alex Brush', sans-serif;
		font-size: 7rem;
		font-weight: bold;
		letter-spacing: 0.1em;
		line-height: 1.2;
	  
  }
  .font-text {
		font-family: 'Alex Brush', sans-serif;
		font-size: 3rem;
		font-weight: bold;
		letter-spacing: 0.1em;
		line-height: 1.2;
	  
  }	